*.o
.*
!.gitignore
*~
doc/*.html
doc/*.png
lib/libpb.a
example/client
example/server
*.dSYM
tests/breakpoints
tests/decode_unittests
tests/encode_unittests
tests/person.pb*
tests/test_decode1
tests/test_decode_callbacks
tests/test_encode1
tests/test_encode_callbacks
tests/testperson.pb
example/fileproto.pb*
*.pyc
tests/callbacks.pb*
tests/unittestproto.pb*
